body {
    background-color: rgb(255, 255, 224);
}
header {
    background-color: rgb(253, 236, 212);
    border-bottom: solid 4px;
}
.bh {color: red}
header h1 {
    background-color: brown;
    color: azure;
}
header h2 {
    background-color: rgb(255, 255, 255);
    color: brown;
}

.nav {background-color: rgb(255, 0, 0);
    color: white;
    display:block;
    border: solid 4px black;
}

.photo {float: right;
border: solid 4px;}
article {
    background-color: rgb(136, 77, 77);
}
    
footer {
    background-color: blanchedalmond;
    border-block: inset 1px;
    text-align: right;
}
h3 {
    text-decoration:underline;
}
nav a {
    text-decoration:none;
color: white
}

h2 {
    color: rgb(255, 255, 255);
    background-color: rgb(200, 0, 0);
}
body {
    background-color: rgb(255, 255, 224);
}
header {
    background-color: rgb(253, 236, 212);
    border-bottom: solid 4px;
}
.bh {color: red}
header h1 {
    background-color: brown;
    color: azure;
}
header h2 {
    background-color: rgb(255, 255, 255);
    color: brown;
}

.nav {background-color: rgb(255, 0, 0);
    color: white;
    display:block;
    border: solid 4px black;
}

.photo {float: right;
border: solid 4px;}
article {
    background-color: rgb(136, 77, 77);
}
    
footer {
    background-color: blanchedalmond;
    border-block: inset 1px;
    text-align: right;
}
h3 {
    text-decoration:underline;
}
nav a {
    text-decoration:none;
color: white
}

h2 {
    color: rgb(255, 255, 255);
    background-color: rgb(200, 0, 0);
}
a {
    text-decoration:none;}